*{
    margin: 0px;
    padding: 0px;
}
h1, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.first-part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D4AAB9;
    padding-top: 30px;
}
.paragraph-first{
    margin: 20px 0px;
}
.btn{
    padding: 10px;
    background-color: #e9286b;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.heading-two{
    text-align: center;
    margin: 100px 0px 20px 0px;
}
.paragraph-two{
    text-align: center;
    margin: 20px 0px;
}
.first-first-photo{
    width: 300px;
}
.second-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.second-first-photo, .second-second-photo, .second-third-photo{
    width: 200px;
    height: 250px;
    border-top-left-radius: 50% ;
    border-top-right-radius: 50%;
    background-color: #D4AAB9;
}

.sub-paragraph-one{
    text-align: center;
    margin: 20px 0px 40px 0px;
    text-decoration: underline;
}
.sub-paragraph-two{
    text-align: center;
    margin: 20px 0px 40px 0px;
}
.third-part{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px 0px 10px 0px;
    margin: 0px 140px 20px 140px;
    background-color: #D4AAB9;
}
.fourth-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D4AAB9;
    padding: 30px 0px;
}
.fourth-text-area{
    text-align: center;
}
.heading-three{
    margin-bottom: 20px;
}
.paragraph-three{
    margin-bottom: 20px;
}
.heading-four{
    text-align: center;
    margin: 50px 0px 20px 0px;
}
.paragraph-four{
    text-align: center;
}
.fourth-first-photo{
    width: 250px;
}
span{
    color: red;
}
.fifth-part{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0px 40px 0px;
}
.fifth-first-photo, .fifth-second-photo, .fifth-third-photo, .fifth-fourth-photo{
    width: 200px;
    height: 300px;
}
.sixth-part{
    background-image: url('images/img13.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 20px 78px 40px 78px;
    text-align: center;
}
.heading-five{
    padding: 70px 0px 20px 0px;
}
.paragraph-five, .input-one{
    margin-bottom: 20px;
}
.seventh-part{
    background-color: black;
    color: white;
}
.heding-six, .paragraph-six, .paragraph-seven{
    text-align: center;
}
.heding-six{
    padding: 40px 0px 20px 0px;
}
.paragraph-six{
    margin-bottom: 20px;
}
.input-one{
    height: 25px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}
.paragraph-seven{
    padding-bottom: 70px;
}